/*--------------------------------------------------------- 
# Styles Généraux
---------------------------------------------------------*/ 
:root {
    --noir: black;
    --blanc: white;
    --jaune: #ffe436;
    --rouge: rgb(255,0,0);
}

@font-face {
    src: url("../font/abnes.otf") format("opentype");
    font-family: "Hell";
  }

  @font-face {
    src: url("../font/sf-distant-galaxy.symbols.ttf") format("truetype");
    font-family: "star";
  }

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section{
    width: 100vw;
    height: 400vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/intro/galaxy-night-panoramic.jpg) ;
    
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    z-index: 1;
    display: inline-block;
    font-size: 80px;
    font-family: "star";
    
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 40px;
    }
    .soustitre {
        font-size: 10px;
    }
}

ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: var(--blanc);
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

footer {
    text-align: center;
    background-color: var(--noir);
    color: var(--blanc);
}
/*--------------------------------------------------------- 
# Étoiles
---------------------------------------------------------*/ 
.stars1 {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-size: fill;
    background-image: url(../img/img_elements_visuels/stars/background_stars_01.svg);
   
}

.stars2 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_02.svg);
    
}
.stars3 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_03.svg);
   
}
.stars4 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_04.svg);
}

.stars5 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_05.svg);
   
}

/*--------------------------------------------------------- 
# Pod
---------------------------------------------------------*/ 
.pod {
    opacity: 0;
    width: 5vw;
    position: fixed;
    left: 47.5%;
    top: 50vh;
    z-index: 5;
}

.direction-down .pod {
    transform: scaleY(1);
  }
  

  .direction-up .pod {
    transform: scaleY(-1);
  }
  

.pod2 {
    opacity: 0;
    width: 2vw;
    position: absolute;
    left: 0%;
    top: 50vh;
    z-index: 1;
}

.flamme {
    background-image: url(../img/img_elements_visuels/spritesheet/spritesheet_02_flamme\ \(2\).png);
    width: 9.5vw;
    opacity: 0;
    aspect-ratio: 1/1;
    animation-name: marche;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    background-size: 2000% 100%; /* (Largeur de l'image * nombre d'images) / (nombre total d'étapes) */
    animation-play-state: paused;
    position: fixed;
    left: 45.25%;
    top: 50vh;
    z-index: 5;
    
}


.direction-down2 .flamme{
    transform: scaleY(1);
  }
  

  .direction-up2 .flamme{
    transform: scaleY(-1);
  }
  
@keyframes marche {
    from { background-position: 0 0; }
    to { background-position: -2000% 0; }
}


/*--------------------------------------------------------- 
# Nuage
---------------------------------------------------------*/ 

.nuage {
    width: 15vw;
    position: absolute;
    animation-play-state: paused;
}

.nuages {
width: 100%;
height: 100%;
filter: blur(3px) contrast(10%);
}

.nuage.un{
    right: -10vw;
    top: 25%;
 }

.nuage.deux{
   left: -10vw;
   top: 15%;
}

.nuage.trois{
    left: -15vw;
    top: 35%;
}

.nuage.quatre{
    right: -35vw;
    top: 45%;
}

.nuage.cinque{
    left: -27vw;
    top: 55%;
}

.nuage.six{
    right: -15vw;
    top: 5%;
}


.nuage.sept{
    left: 400%;
    top: 11%;
}

.nuage.huit{
    left: -45vw;
    top: 75%;
   
}

.nuage.neuf{
    right: -25vw;
    top: 85%;
}

.nuage.dix{
    left: -15vw;
    top: 95%;
}

.nuage.onze{
    right: -5vw;
    top: 90%;
}

.nuage.douze{
    left: -25vw;
    top: 70%;
}

.nuage.treize{
    left: -5vw;
    top: 63%;
}


/*--------------------------------------------------------- 
# oiseau
---------------------------------------------------------*/ 

.oiseau {
    position: absolute;
    width: 2vw;
    filter: grayscale(50%);
}

.oiseau.un {
    left: -10vw;
    top: 15%;
}


.oiseau.deux {
    left: -10vw;
    top: 35%;
}

.oiseau.trois {
    left: -10vw;
    top: 55%;
}

.oiseau.quatre {
    left: -10vw;
    top: 75%;
}

.oiseau.cinque {
    left: -10vw;
    top: 95%;
}
.oiseau.six {
    left: -10vw;
    top: 5%;
    width: 4vw;
}
/*--------------------------------------------------------- 
# Intro
---------------------------------------------------------*/ 
.titre {
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titreAnim {
    color: var(--rouge);
}

.soustitre {
    position: absolute;
    z-index: 0;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.soustitre01, .soustitre02 {
    color: var(--rouge);
}

.down {
    position: absolute;
    margin-top: 45vh;
    left: 47.5%;
}

.fleche-down {
    font-size: 10px;
    display: block;
    
    width: 5vw;
}

/*--------------------------------------------------------- 
# Chapitre1
---------------------------------------------------------*/ 
#Deep_Space {
    background-image: url(../img/img_arriere_plan/background_ciel_00.png) ;
    position: relative;

}


#Deep_Space .stars4 {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100%;

    background-image: url(../img/img_elements_visuels/stars/background_stars_04.svg);
    background-size: cover;
    background-position: center;
}

.comete {
    background-image: url(../img/img_elements_visuels/spritesheet/spritesheet_01.png);
    width: 5vw; 
    aspect-ratio: 1/1;
    animation-name: marche2;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(7);
    background-size: 700% 100%; 
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

@keyframes marche2 {
    from { background-position: 0 0; }
    to { background-position: -700% 0; }
}

.planet1 {
    position: absolute;
    width: 30vw;
    left: 8%;
    top: 15%;
}

.planet3 {
    background-image: url(../img/img_elements_visuels/planet.png);
    background-size: cover;
    position: absolute;
    width: 30vw;
    aspect-ratio: 1/1;
    left: 8%;
    top: 15%;
    background-repeat: no-repeat;
    
    
}

.planet4 {
    background-image: url(../img/img_elements_visuels/planet2.png);
    background-size: cover;
    position: absolute;
    width: 20vw;
    bottom: 25%;
    right: 10%;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
    
}

.planet2 {
    position: absolute;
    width: 20vw;
    bottom: 25%;
    right: 10%;
}

.galaxie {
    position: absolute;
    left: 8vw;
    top: 18vh;
    width: 15vw;
    height: 15vw;
    filter: drop-shadow(10px 10px 4px #4444dd);
    overflow: visible;
}

.cls-1 {
    fill: linear-gradient(to right, yellow, red);
   /* fill: #00918c74;*/
    stroke: #384af1;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    filter: drop-shadow(30px 10px 40px #4444dd);
  }
/*--------------------------------------------------------- 
# Chapitre2
---------------------------------------------------------*/ 
#Space {
    background-image: url(../img/img_arriere_plan/background_ciel_01.png) ;
    position: relative;
}

#Space .stars1 {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100%;

    background-image: url(../img/img_elements_visuels/stars/background_stars_04.svg);
    background-size: cover;
    background-position: center;
}


.satellite {
    position: absolute;
    width: 15vw;
    left: -10%;
    top: 25%;
}




/*--------------------------------------------------------- 
# Chapitre3
---------------------------------------------------------*/ 
#orbit {
    background-image: url(../img/img_arriere_plan/background_ciel_02.png) ;
    position: relative;
}

/*--------------------------------------------------------- 
# Chapitre4
---------------------------------------------------------*/ 
#exosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_03.png) ;
    position: relative;
}

/*--------------------------------------------------------- 
# Chapitre5
---------------------------------------------------------*/ 
#thermosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_04.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre6
---------------------------------------------------------*/ 
#mesosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_05.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre7
---------------------------------------------------------*/ 
#stratosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_06.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre8
---------------------------------------------------------*/ 
#troposphere {
    background-image: url(../img/img_arriere_plan/background_ciel_07.png) ;
    position: relative;
}
.sol {
    width: 100%;
    height: 100%;
    background-color: var(--jaune);
    
}

.poisson {
    position: absolute;
    width: 2vw;
    rotate: 90;
}


.terrain {
    position: absolute;
    bottom:0;
    z-index: 2;
    width: 100vw;
    height: 70vh;
}




.cloud_morphing {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 18vw;
}


.b2_morph {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 8vw;
    opacity: 0;
}

/*
@media screen and (min-width: 2110px) {
    .montagne {
        bottom:45vh;
    }
    .sol2 {
        bottom:45vh;
    }
}


@media screen and (max-width: 2110px) {
    .montagne {
        bottom:40vh;
    }
    .sol2 {
        bottom:40vh;
    }
}


@media screen and (max-width: 1880px) {
    .montagne {
        bottom:35vh;
    }
    .sol2 {
        bottom:35vh;
    }
}

@media screen and (max-width: 1640px) {
    .montagne {
        bottom:30vh;
    }
    .sol2 {
        bottom:30vh;
    }
}

@media screen and (max-width: 1400px) {
    .montagne {
        bottom:25vh;
    }
    .sol2 {
        bottom:25vh;
    }
}

@media screen and (max-width: 1170px) {
    .montagne {
        bottom:20vh;
    }
    .sol2 {
        bottom:20vh;
    }
}

@media screen and (max-width: 935px) {
    .montagne {
        bottom:15vh;
    }
    .sol2 {
        bottom:15vh;
    }
}

@media screen and (max-width: 700px) {
    .montagne {
        bottom:12vh;
    }
    .sol2 {
        bottom:12vh;
    }
}

@media screen and (max-width: 550px) {
    .montagne {
        bottom:10vh;
    }
    .sol2 {
        bottom:10vh;
    }
}

@media screen and (max-width: 465px) {
    .montagne {
        bottom:8vh;
    }
    .sol2 {
        bottom:8vh;
    }
}

@media screen and (max-width: 370px) {
    .montagne {
        bottom:6vh;
    }
    .sol2 {
        bottom:6vh;
    }
}*/