/*--------------------------------------------------------- 
# Styles Généraux
---------------------------------------------------------*/ 
@font-face {
    src: url("../font/abnes.otf") format("opentype");
    font-family: "Hell";
  }

  @font-face {
    src: url("../font/sf-distant-galaxy.symbols.ttf") format("truetype");
    font-family: "star";
  }

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section{
    width: 100vw;
    height: 400vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid red;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/intro/galaxy-night-panoramic.jpg) ;
    
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    z-index: 1;
    display: inline-block;
    font-size: 80px;
    font-family: "star";
    
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 40px;
    }
    .soustitre {
        font-size: 10px;
    }
}


/*--------------------------------------------------------- 
# Étoiles
---------------------------------------------------------*/ 
.stars1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-size: fill;
    background-image: url(../img/img_elements_visuels/stars/background_stars_01.svg);
   
}

.stars2 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_02.svg);
    
}
.stars3 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_03.svg);
   
}
.stars4 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_04.svg);
}

.stars5 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_05.svg);
   
}

/*--------------------------------------------------------- 
# Pod
---------------------------------------------------------*/ 
.pod {
    opacity: 0;
    width: 5vw;
    position: fixed;
    left: 47.5%;
    top: 50vh;
    z-index: 5;
}

.flamme {
    background-image: url(../img/img_elements_visuels/spritesheet/spritesheet_02_flamme\ \(2\).png);
    width: 9.5vw;
    opacity: 0;
    aspect-ratio: 1/1;
    animation-name: marche;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    background-size: 2000% 100%; /* (Largeur de l'image * nombre d'images) / (nombre total d'étapes) */
    
    position: fixed;
    left: 45.25%;
    top: 50vh;
    z-index: 5;
}

@keyframes marche {
    from { background-position: 0 0; }
    to { background-position: -2000% 0; }
}


/*--------------------------------------------------------- 
# Nuage
---------------------------------------------------------*/ 

.nuage {
    width: 15vw;
    position: absolute;
}

.nuages {
width: 100%;
height: 100%;
filter: blur(3px) contrast(10%);
}

.nuage.un{
    right: 10%;
    top: 25%;
 }

.nuage.deux{
   left: 10%;
   top: 15%;
}

.nuage.trois{
    left: 15%;
    top: 35%;
}

.nuage.quatre{
    left: 65%;
    top: 45%;
}

.nuage.cinque{
    left: 27%;
    top: 55%;
}

.nuage.six{
    left: 85%;
    top: 5%;
}


.nuage.sept{
    left: 400%;
    top: 11%;
}

.nuage.huit{
    left: 45%;
    top: 75%;
   
}

.nuage.neuf{
    left: 75%;
    top: 85%;
}

.nuage.dix{
    left: 15%;
    top: 95%;
}

/*--------------------------------------------------------- 
# oiseau
---------------------------------------------------------*/ 

.oiseau {
    position: absolute;
    width: 2vw;
    filter: grayscale(50%);
}
/*--------------------------------------------------------- 
# Intro
---------------------------------------------------------*/ 
.titre {
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titreAnim {
    color: red;
}

.soustitre {
    position: absolute;
    z-index: 0;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.soustitre01, .soustitre02 {
    color: red;
}

.down {
    position: absolute;
    margin-top: 45vh;
    left: 47.5%;
}

.fleche-down {
    font-size: 10px;
    display: block;
    filter: drop-shadow(0 0 10px var(--blanc));
    width: 5vw;
}

/*--------------------------------------------------------- 
# Chapitre1
---------------------------------------------------------*/ 
#Deep_Space {
    background-image: url(../img/img_arriere_plan/background_ciel_00.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre2
---------------------------------------------------------*/ 
#Space {
    background-image: url(../img/img_arriere_plan/background_ciel_01.png) ;
    position: relative;
}

#Space .stars4 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/img_elements_visuels/stars/background_stars_04.svg);
}




/*--------------------------------------------------------- 
# Chapitre3
---------------------------------------------------------*/ 
#orbit {
    background-image: url(../img/img_arriere_plan/background_ciel_02.png) ;
    position: relative;
}

/*--------------------------------------------------------- 
# Chapitre4
---------------------------------------------------------*/ 
#exosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_03.png) ;
    position: relative;
}

/*--------------------------------------------------------- 
# Chapitre5
---------------------------------------------------------*/ 
#thermosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_04.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre6
---------------------------------------------------------*/ 
#mesosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_05.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre7
---------------------------------------------------------*/ 
#stratosphere {
    background-image: url(../img/img_arriere_plan/background_ciel_06.png) ;
    position: relative;
}
/*--------------------------------------------------------- 
# Chapitre8
---------------------------------------------------------*/ 
#troposphere {
    background-image: url(../img/img_arriere_plan/background_ciel_07.png) ;
    position: relative;
}
.sol {
    width: 100%;
    height: 100%;
    background-color: #ffe436;
    
}



.montagne {
    position: absolute;
    bottom:20%;
    z-index: 3;
}

.sol1 {
    position: absolute;
    
    z-index: 2;
    bottom: 0;
}

.sol2 {
    position: absolute;
    bottom: 20%;
    z-index: 4;

}

.terrain {
    position: relative;
    width: 100vw;
    height: 60%;
    top: 100%;
}

