

.level {
    position: relative;
    width: 100%;
    height: 8000vh;
    background-color: #489848;
    overflow: hidden;
  }
  
  .level::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 100%;
    background-image: url('https://ex.smnarnold.com/gsap/link/road.png');
    background-size: contain;
    image-rendering: pixelated;
    transform: translateX(-50%);
  }
  
  .link {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 130px;
    background-image: url('https://ex.smnarnold.com/gsap/link/spritesheet.webp');
    background-position: 0 0;
  }
  
